# Turso Cloud Database Configuration
# NOTE: File ini di-ignore oleh git (.gitignore) untuk keamanan.
TURSO_DATABASE_URL=masukkan_url_turso_anda_disini
TURSO_AUTH_TOKEN=masukkan_token_turso_anda_disini
